<style>

.comment {
	border: 1px solid black;
	padding: 10px;
	margin-top: 10px
}

#name {
	font-style: italic;
	color: gray;
}
</style>

<div class = 'comment'>
<p>
  <div id = 'name'>
  <%= comment.commenter %>
</div>
</p>
 
<p>
  <%= comment.body %>
</p>

<!--<p>
	<%= link_to 'Destroy Comment', [comment.profile, comment],
				 method: :delete,
				 data: { confirm: 'Are you sure?' } %>
</p>-->
</div>