<style>
.header {
	background-color: #595a5b;
	top: 0;
	width: 100%;
	text-align: center;
	font-family: "Gill Sans", sANS-serif;

}
.header a {
	display: block;
	padding: 30px 20px;
	color: white;
	font-size: 30px;
	}
.header li {
	display: inline-block;
	margin-right: 25px;
	text-align: center;
}
.welcome h1 {
	font-size: 45px;

}
.welcome p {
	font-size: 25px;

}
.welcome {
	text-align: center;
	width: auto;
	font-family: "Helvetica", sANS-serif;

}
a {
	text-decoration: none;
	color: #2B96F1;	
}
a:visted {
	text-decoration: none;
	color: inherit;
}

</style>

<div class = 'header'>
	<ul>
		<li><%= link_to'Home', controller: 'welcome' %></li>
		<li><%= link_to 'Profiles', controller: 'profiles' %></li>
		<li><%= link_to 'Resources', controller: 'resources_page' %></a></li>
		<li><a href = ''>About</a></li>
	</ul>
</div>

<div class = 'welcome'>
	<h1>Welcome</h1>

	<p>The goal of this website is to facilitate the connection between tutors and those looking for tutors. We hope to bring you find qualified tutors near you. If you are looking for a tutor, go to the following link to find a list of <a href = "../profiles#index">tutors</a>. If you are looking to register as a tutor, click <a href = "../profiles/new">here</a>.</p>
</div>


<iframe width="420" height="345" src="https://www.youtube.com/watch?v=Na8m4GPqA30Y">
</iframe>



<h1>test</h1>

